<% object.comments.each do |c| %>
    <h5> <%= c.user.full_name %>  </h5>
           >Posted <%= distance_of_time_in_words(c.created_at, Time.now) %> ago
    <br>
    <%= c.content %> 
    
    <% if current_user.id == c.user_id %>
          <%= link_to comment_path(c), method: :delete, data: { confirm: "You sure?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
    <br><br><%= render 'likes/like_comments', object: c %>

<%end%>