<div class="">

  <div class=" ">
    <div class="">
      <%= object.user.fname %>
      <%= object.user.lname %>
    </div> <br>

    <div class="">
      <%= object.content %>
    </div>
  </div> 

  <div class=""><%= render 'likes/like_posts', object: object %></div>
  <div class="">
     <%= render 'comments/comment', object: object %>
    <div class=" ">
      <%= render 'comments/form', object: object %>
    </div>
  </div>
  <br><br>
</div>
 <br> <br> 
