<div class="">

  <div class=" ">
    <div class="">
      <%= link_to user_path(object.user) do%>
            <%= object.user.full_name %>
          <%end%>
    </div> <br>
    <div class=""><%= render 'likes/like_posts', object: object %></div>
    <div class="font-weight-bold">
      <%= object.content %>
    </div>
    <p>Posted <%= distance_of_time_in_words(object.created_at, Time.now) %> ago</p>
  </div> 
  <div><% if current_user.id == object.user_id%>
      <%= link_to post_path(object), method: :delete, data: { confirm: "You sure?" } do %>
        <i class="fas fa-trash fa-2x hover-red"></i>
      <% end %>
    <% end %>
    </div>
  
  <div class="">
     <%= render 'comments/comment', object: object %>
    <div class=" ">
      <%= render 'comments/form', object: object %>
    </div>
  </div>
  <br>
</div>
 <br>
