<h1>Posts#index (current_user`s and his friends posts)</h1>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>

<% end %>
<h4>All Posts:</h4>
<% @posts.each do |p|%>
  <small><%= p.user.fname %> <%= p.user.lname %></small>
  <%= p.content %>
  <br>
   <%= render 'likes/like_posts', object: p %>
  <%= render 'comments/form', object: p %>
  <%= render 'comments/comment', object: p %>
  <br><br>
<% end %> 