<header class="bg-light">
   <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5">F@AKEBOOK</h1>
         <% end %>
    </div> 
    <div> 
         <%= link_to posts_path, class: "navbar-item" do %>
          <h3 class="title is-5">Posts</h3>
         <% end %>
      </div> 
    <% if user_signed_in? %>
      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
           <div class="row mt-2">
             <p class="nav-item mt-2">
                <%= link_to "Find friends", users_path, class: " mr-3" %>
              </p>
              
             <p class="nav-item mt-2">
                <%= link_to "New Post", new_post_path, class: "mr-3" %>
              </p>
              
              <p class="nav-item mt-2">
                <%= link_to "My Profile", user_path(current_user), class: "mx-3" %>
              </p>
              <p class="nav-item mt-2">
                <%= link_to "Edit Profile", edit_user_registration_path, class: "mx-3" %>
              </p>
               <p class="nav-item mt-2">
                 <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "mx-3"  %>
              </p>
              <p class="nav-item">
                <%= button_to saw_notice_path, :class => "text-white btn notice-btn-#{notification_seen}",
             data: {toggle: 'modal', target: '#noticeModal'}, method: :get, remote: true do %>
                <i class="fas fa-bell"></i> Notifications
            <% end %>
              </p>
               <% else %>
               <p class="nav-item mt-2">
                 <%= link_to 'Sign In', new_user_session_path, class: "" %>
               </p>
               <p class="nav-item mt-2">
                 <%= link_to 'Sign Up', new_user_registration_path, class: "mx-3" %>
               </p>
               
             </div>
             
          </div>
        </div>
        <% end %>
      </div>
    </nav>
</header>

<% if user_signed_in? %>
  <%= render 'shared/notifications', object: current_user.notifications%>
<%end%>
